/* base */

body {
  font-family: Raleway, Arial, sans-serif;
  background-color: #fff;
  color: #000;
}

.page {
  width: 1100px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 180px;
}

/* common */

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
}

.address {
  font-style: normal;
  font-size: 18px;
  line-height: 1.35;
}

.address a {
  display: block;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.address p {
  margin: 2px 0 0;
}

/* header */

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  padding: 92px 50px;
  font-size: 18px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item:first-child {
  list-style: none;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  justify-self: center;
  width: 148px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header .address {
  justify-self: end;
  max-width: 240px;
}

/* cover */

.cover {
  position: relative;
  min-height: 757px;
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
}

.cover .overlay {
  z-index: 0;
}

.cover__title,
.cover__description {
  position: relative;
  z-index: 1;
}

.cover__title {
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 1;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  letter-spacing: 0.3em;
}

.aligned-text_center {
  text-align: center;
  margin-top: 20px;
}

.aligned-text_right {
  text-align: right;
  letter-spacing: 0.3em;    
  margin-top: 20px;
  margin-right: -0.3em;     
}

.cover__description {
  margin-top: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.cover__description-text {
  margin: 0;
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  background: transparent;
  color: #fff;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  cursor: pointer;
}

/* lots */

.lots {
  padding: 0 50px;
}

.lots__heading {
  margin: 0 0 27px 40px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  height: 100%;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
}

.card__title,
.card__text {
  position: relative;
  z-index: 1;
  color: #fff;
}

.card__title {
  max-width: 254px;
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

/* about  */

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 0 50px;
  align-items: start;
}

.about__logo {
  display: flex;
  justify-content: center;
}

.about__logo-circle {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__content {
  padding-top: 60px;
}

.about__title {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  margin: 24px 0 0;
  font-size: 20px;
  line-height: 1.2;
}

/* footer */

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 180px 50px 90px;
  align-items: start;
}

.footer .address {
  max-width: 240px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-self: end;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
